<div style="text-align: center">
  <button style="cursor:pointer" (click)="agregar()">+</button>
</div>

<div class="box">
  <app-persona
    *ngFor="let personaElemento of personas; let i = index"
    [persona] = "personaElemento"
    [indice] = "i"
  ></app-persona>
</div>

<router-outlet  >
