<div class="container">

  <div class="row">
    <div class="col">
      <h1>{{titulo}}</h1>
    </div>
  </div>

  <app-formulario
    (resultadoOperacion)="getResultado($event)"
  ></app-formulario>

  <app-resultado
    [resultadoHijo] = "resultadoPadre"
  ></app-resultado>

</div>
