body{
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 90%;
    color: white;
}

h1{
    color: red;
}

span{
    display: table-cell;
    vertical-align: middle;
}

.wrapper{
    position: relative;
    float: left;
    left: 0px;
    width: 700px;
    margin-bottom: 10px;
}

.left{
    display: table;
    position: relative;
    float: left;
    left: 5px;
    width: 140px;
    height: 100px;
    border: 1px dashed grey;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}

.left2{
    display: table;
    position: relative;
    float: left;
    left: 15px;
    width: 140px;
    height: 100px;
    border: 1px dashed grey;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}
.left3{
    display: table;
    position: relative;
    float: left;
    left: 25px;
    width: 140px;
    height: 100px;
    border: 1px dashed grey;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}
.left4{
    display: table;
    position: relative;
    float: left;
    left: 35px;
    width: 140px;
    height: 100px;
    border: 1px dashed grey;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}

/* Definición de colores */

#div1{
    background-color: #00FFFF;
    color: grey;
}

#div2{
    /* Yellow: #FFFF00. */
    background-color: #FF0;
    color: grey;
}
#div3{
    background-color: rgb(198,226,255);
    color: grey;
}
#div4{
    background-color: rgb(0%,20%,80%);
}
#div5{
    background-color: chocolate;
}