header, nav, section, article, footer {
    display: block;
    background-color: aliceblue;
    padding: 3px;
    margin: 5px;
}

nav {
    width: 15%;
    float: left;
}

section {
    width: 75%;
    float: right;
}

article {
    background-color: cadetblue;
}

footer {
    clear:both;
}