nav > a {
   margin-right: 10px;
}

/* SELECTORES SIBLINGS */

/* selecciona los p cuyo padre es un div */
/* div > p {
    color:red;
    background-color: yellow;
} */

/* selecciona los parrafos p adyacentes a div y que tengan el mismo nivel de jerarquia */
/* div + p{
    color: red;
    background-color: yellow;
} */

/* selecciona los p cuyo div es hermano (sibling) y p debe estar despues de div. No necesariamente adyacente */
/* div ~ p{
    color: red;
    background-color: yellow;
} */

/* SELECTORES POR ATRIBUTOS */

/* elemento a del atributo href que comience con http */
a[href^=http] { /* el ^ es para indicar que empiece de esa forma */
    color:red;
}

/* elementos a del atributo href que termine con .html */
a[href$=".html"] { /* el $ es para indicar que acabe de esa forma */
    color:blueviolet;
}

/* elemento a del atributo href que termine con pdf */
a[href$=".pdf"]{
    background: url(../images/PDF_file_icon.svg.png) no-repeat right;
    background-size: 15px 17px;
    padding-right: 25px;
    color: darkred;
}

/* SELECTORES POR N-CHILD */

/* selecciona el primer elemento hijo h1 */
h1:first-child{
    color:blue;
}

/* Selecciona el ultimo elemento hijo h1 */
h1:last-of-type{
    color:yellowgreen;
}

/* Selecciona el primer elemento hijo li */
li:first-child{
    color:red;
}

/* selecciona el segundo elemento hijo li */
li:nth-child(2){
    color: green;
}

/* selecciona el tercer elemento hijo li, y desde este el siguiente tercer elemento li hijo */
/* li:nth-child(3n){
    color:purple;
} */

/* selecciona cada 3 elementos comenzando en 2do elemento */
/* li:nth-child(3n+2){
    color:purple;
} */

/* selecciona los elementos de manera inversa comenzando en 4to */
/* li:nth-child(-1n+4){
    color:purple;
} */

/* selecciona el 4to elemento contando en reversa */
/* li:nth-last-child(4){
    color: purple;
} */

/* selecciona el septimo elemento contando en reversa */
/* li:nth-last-child(1n+7){
    color:purple;
} */

/* mezcla de selectores n-child, en este caso los 3 primeros y los 3 ultimos */
li:nth-child(1n+8), li:nth-last-child(1n+8){
    color:purple;
}