<!-- Botones -->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <a href="#" class="btn btn-primary btn-block" (click)="open(agregarClienteModal)">
            <i class="fas fa-plus"></i> Agregar Cliente
          </a>
      </div>
    </div>
  </div>
</section>

<!-- Listado Clientes -->
<section id="clientes">
  <div class="container">
    <div class="row">

      <div class="col-md-9">

        <div class="card">

          <div class="card-header">
            <h4>Listado de Clientes</h4>
          </div>

          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Saldo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let cliente of clientes; let i = index">
                <td>{{i+1}}</td>
                <td>{{cliente.nombre}} {{cliente.apellido}} </td>
                <td>{{cliente.saldo | currency: 'EUR': '€'}}</td>
                <td>
                  <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btn-secondary">
                    <i class="fas fa-angle-double-right"> Editar</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

      <!-- Tarjetas laterales -->
      <div class="col-md-3">

        <div class="card text-center bg-danger text-white mb-3">
          <div class="card-body">
            <h3>Saldo Total</h3>
            <h4 class="display-6">
              {{getSaldoTotal() | currency :'EUR':'€'}}
            </h4>
          </div>
        </div>

        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>Total Clientes</h3>
            <h4 class="display-6">
              <i class="fas fa-users"></i> {{clientes?.length}}
            </h4>
          </div>
        </div>

      </div>
      <!-- Fin de las tarjetas laterales -->

    </div>
  </div>

</section>

<!-- Modal Agregar Clientes -->
<ng-template #agregarClienteModal let-modal>

    <div class="modal-header bg-info text-white">

      <h5 class="modal-tittle">Agregar Cliente</h5>
      <button type="button" class="btn-close" aria-label="Close" #botonCerrar (click)="modal.dismiss('Cross click')"></button>

    </div>

    <form #clienteForm="ngForm" (ngSubmit)="agregar(clienteForm, modal)">

      <div class="modal-body">

        <ngb-alert *ngIf="alert.message" [type]="alert.type" (closed)="close(alert)">
              {{ alert.message }}
        </ngb-alert>

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
              type="text"
              name="nombre"
              class="form-control"
              #nombre="ngModel"
              [(ngModel)]="cliente.nombre"
              [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
              required
              minlength="2"
          >
          <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
            Nombre requerido
          </div>
          <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
            Debe contener al menos 2 caracteres
          </div>
        </div>

        <div class="form-group mt-2">
          <label for="apellido">Apellido</label>
          <input
            type="text"
            name="apellido"
            class="form-control"
            #apellido="ngModel"
            [(ngModel)]="cliente.apellido"
            [ngClass]="{'is-invalid': apellido.errors && apellido.touched}"
            required
            minlength="2">
            <div [hidden]="!apellido.errors?.required" class="invalid-feedback">
              Apellido requerido
            </div>
            <div [hidden]="!apellido.errors?.minlength" class="invalid-feedback">
              Debe contener al menos 2 caracteres
            </div>
        </div>

        <div class="form-group mt-2">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            #email="ngModel"
            [(ngModel)]="cliente.email"
            [ngClass]="{'is-invalid': email.errors && email.touched}"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            required
            minlength="2">
            <div [hidden]="!email.errors?.required" class="invalid-feedback">
              Email requerido
            </div>
            <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
              Email no es válido
            </div>
        </div>

        <div class="form-group mt-2">
          <label for="saldo">Saldo</label>
          <input type="number"
                name="saldo"
                class="form-control"#saldo="ngModel"
                [(ngModel)]="cliente.saldo"
                [ngClass]="{'is-invalid': saldo.errors && saldo.touched}"
                required
                minlength="2">
                <div [hidden]="!saldo.errors?.required" class="invalid-feedback">
                  Saldo requerido
                </div>
        </div>

      </div>

      <div class="modal-footer">

        <button type="submit" class="btn btn-primary">Guardar</button>

      </div>

    </form>

</ng-template>

<!-- Esto activa en el flujo del código a la ng-template para que así la pueda ver @viewChild y sus valores no sean undefined -->
<div [hidden]="hide">
  <ng-container *ngTemplateOutlet="agregarClienteModal"></ng-container>
</div>
