<form>
  <div class="form-group mt-2">
    <label class="mb-1" for="operandoa">Operando A</label>
    <input type="number" class="form-control" id="operandoa" [(ngModel)]="operandoa" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group mt-4">
    <label class="mb-1" for="operandob">Operando B</label>
    <input type="number" class="form-control" id="operandob" [(ngModel)]="operandob" [ngModelOptions]="{standalone: true}">
  </div>
</form>

<div class="mt-3">
  <button (click)="sumar()" class="btn btn-primary ml-3">Sumar</button>&nbsp;
  <button (click)="restar()" class="btn btn-danger">Restar</button>&nbsp;
  <button (click)="multiplicar()" class="btn btn-warning">Multiplicar</button>&nbsp;
  <button (click)="dividir()" class="btn btn-success">Dividir</button>
</div>
