<div class="item">
  <ul>
    <li>
      <a [routerLink]="['/personas',indice]"
         [queryParams]="{modoEdicion:'1'}">
        {{persona.nombre}} {{persona.apellido}}
      </a>
    </li>
  </ul>
</div>
