<div class="egreso">
  <h2 class="egreso_titulo">Egresos</h2>

      <div class="elemento limpiarEstilos" *ngFor="let egreso of egresos">
          <div class="elemento_descripcion">{{egreso.descripcion}}</div>
          <div class="right limpiarEstilos">
              <div class="elemento_valor">- {{egreso.valor | currency:'EUR':'€':'1.2-2' }}</div>
              <div class="elemento_porcentaje">{{calcularPorcentaje(egreso) | percent}}</div>
              <div class="elemento_eliminar">
                  <button class="elemento_eliminar--btn"><i class="ion-ios-close-outline" (click)="eliminarEgreso(egreso)"></i></button>
              </div>
          </div>
      </div>

</div>
